<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.4" network="public private">
	<name>Simple REST Client</name>
	<description>Construct custom HTTP requests to directly test your web services.</description>
  	<author href="https://github.com/LennartC/" email="coopmans@lacerta.be">Lennart Coopmans</author>
  	<icon src="icon_64.png"/>
    <access origin="*" subdomains="true"/>
</widget>